.SummitApp{
    font-family: 'Maison Neue', 'Helvetica', Arial, sans-serif;
    /* background-color: black; */
    background-color: #ffffff;
    width: 20vw;
    height: fit-content;
    margin: 5vw;
    border-radius: 4px;
    /* box-shadow:hsl(240 16ßß% 6% / 0.04) 0px 8px 24px 0px; */
    font-size: 14px;
    line-height:18px;
    margin: 35px 24px 14px 0px;
    /* padding: 24px 0px 0px; */
}

.summit-header {
    font-size: 1.5vw;
    font-weight: 500;
    padding: 30px;
}

.summit-select {
    font-size: 1vw;
    font-weight: 500;
    border: none;
    margin-left: 30px;
}

.summit-table {
    margin-left: 30px;
    margin-top: 20px;
}

.summit-table-heading-label-m {
    padding-right: 10px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1vw;
}

.summit-table-heading-label {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1vw;
}

.summit-table-activity-label-start {
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 1vw;
}

.summit-table-activity-label {
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 1vw;
}

.summit-activity-marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
}

.summit-activity-marker-invisible {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a2a2a2f8;
    border: 6px solid white;
}

.summit-count-label {
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 5px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 0.8vw;
}

.summit-count-value {
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 5px;
    padding-top: 25px;
    font-weight: 650;
    font-size: 4.5vw;
}


.summit-count-label-2 {
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 25px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 0.8vw;
    color: #858484fc;
}


.summit-buttons{
    padding-top: 50px;
    font-size: 0.7vw;
    margin-left: 5px;
    margin-right: 10px;
}

.compare-button{
    background-color: #e4e4e4f8;
    color: #000;
    border: none;
    border-radius: 2px;
    padding: 5px;
    padding-left:5px;
    padding-right:5px;
}

.new-button{
    background-color: #e4e4e4f8;
    color: #000;
    border: none;
    border-radius: 2px;
    padding: 5px;
    padding-left:5px;
    padding-right:5px;
    margin-top: 10px;
}