.ActivityFeed {
    /* font-family: 'Maison Neue', 'Helvetica', Arial, sans-serif; */
    width: 40vw;
    height: 100vh;
    /* margin: 5vw; */
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    margin: 0px 24px 14px 0px;
    padding: 0px 0px 0px;
}

.Activity {
    /* font-family: 'Maison Neue', 'Helvetica', Arial, sans-serif; */
    background-color: #ffffff;
    width: 40vw;
    height: auto;
    /* margin: 5vw; */
    border-radius: 4px;
    box-shadow: hsl(240 16% 6% / 0.04) 0px 8px 24px 0px;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 24px 14px 0px;
    /* padding: 0px 0px 0px; */
}

.activity-map {
    padding: 20px;
}

.activity-div-profile-athlete-image {

    border-radius: 50%;
    width: 50px;
    margin: 20px;
    margin-left: 30px;
    position: relative;
    top:0px;
    left: 0px;
}

.activity-div-athlete-badge {
    position: absolute;
    top:15.7vh;
    left: 33.5vw;
}


.activity-div-profile-info {
    margin: 20px;
    margin-left: 0px;
    margin-top: 30px;
}


.activity-div-profile-name {
    font-size: 1vw;

}

.activity-div-profile-location {
    font-size: 0.7vw;
    color: #7a7979;
}

.activity-div-activity-name {
    font-size: 1.5vw;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-part-divider {
    margin-top: 20px;
    background-color: #a2a2a25e;
    width: 0.8px;
    height: 30px;
}

.activity-div-info-part-distance {
    color: #5a5858;
    font-size: 0.7vw;
    padding-top: 5px;

}

.activity-div-info-part-elev {
    color: #5a5858;
    font-size: 0.7vw;
    padding-top: 5px;
}

.activity-div-info-part-time {
    color: #5a5858;
    font-size: 0.7vw;
    padding-top: 5px;
}


.activity-div-info-part-divider {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #a2a2a25e;
    width: 0.8px;
    height: 30px;
}

.activity-info-part-number {
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 3px;
}

.activity-select {
    font-size: 1.2vw;
    font-weight: 350;
    border: none;
    background-color: #ffffff;
    background-color: rgb(247, 247, 250);
    margin-right: 20px;
    /* margin-left: 30px; */
}

.activity-div-activity-url {
    color: black;
}

.activity-div-activity-url,a:visited{
    color: black;
}

a:hover {
    color: black;
  }
  